// DIN Round Pro WebFont
@font-face {
	font-family:'DINRoundPro';
	src: url('../fonts/din_round_pro/DINRoundPro-Black.eot');
	src: url('../fonts/din_round_pro/DINRoundPro-Black.eot?#iefix') format('embedded-opentype'),
	url('../fonts/din_round_pro/DINRoundPro-Black.woff2') format('woff2'),
	url('../fonts/din_round_pro/DINRoundPro-Black.woff') format('woff'),
	url('../fonts/din_round_pro/DINRoundPro-Black.ttf') format('truetype'),
	url('../fonts/din_round_pro/DINRoundPro-Black.svg#DINRoundPro-Black') format('svg');
	font-weight: 900;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+0020-04EF;
}
@font-face {
	font-family:'DINRoundPro';
	src: url('../fonts/din_round_pro/DINRoundPro-Bold.eot');
	src: url('../fonts/din_round_pro/DINRoundPro-Bold.eot?#iefix') format('embedded-opentype'),
	url('../fonts/din_round_pro/DINRoundPro-Bold.woff2') format('woff2'),
	url('../fonts/din_round_pro/DINRoundPro-Bold.woff') format('woff'),
	url('../fonts/din_round_pro/DINRoundPro-Bold.ttf') format('truetype'),
	url('../fonts/din_round_pro/DINRoundPro-Bold.svg#DINRoundPro-Bold') format('svg');
	font-weight: 700;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+0020-04EF;
}
@font-face {
	font-family:'DINRoundPro';
	src: url('../fonts/din_round_pro/DINRoundPro-Light.eot');
	src: url('../fonts/din_round_pro/DINRoundPro-Light.eot?#iefix') format('embedded-opentype'),
	url('../fonts/din_round_pro/DINRoundPro-Light.woff2') format('woff2'),
	url('../fonts/din_round_pro/DINRoundPro-Light.woff') format('woff'),
	url('../fonts/din_round_pro/DINRoundPro-Light.ttf') format('truetype'),
	url('../fonts/din_round_pro/DINRoundPro-Light.svg#DINRoundPro-Light') format('svg');
	font-weight: 300;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+0020-04EF;
}
@font-face {
	font-family:'DINRoundPro';
	src: url('../fonts/din_round_pro/DINRoundPro-Medi.eot');
	src: url('../fonts/din_round_pro/DINRoundPro-Medi.eot?#iefix') format('embedded-opentype'),
	url('../fonts/din_round_pro/DINRoundPro-Medi.woff2') format('woff2'),
	url('../fonts/din_round_pro/DINRoundPro-Medi.woff') format('woff'),
	url('../fonts/din_round_pro/DINRoundPro-Medi.ttf') format('truetype'),
	url('../fonts/din_round_pro/DINRoundPro-Medi.svg#DINRoundPro-Medi') format('svg');
	font-weight: 500;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+0020-04EF;
}
@font-face {
	font-family:'DINRoundPro';
	src: url('../fonts/din_round_pro/DINRoundPro.eot');
	src: url('../fonts/din_round_pro/DINRoundPro.eot?#iefix') format('embedded-opentype'),
	url('../fonts/din_round_pro/DINRoundPro.woff2') format('woff2'),
	url('../fonts/din_round_pro/DINRoundPro.woff') format('woff'),
	url('../fonts/din_round_pro/DINRoundPro.ttf') format('truetype'),
	url('../fonts/din_round_pro/DINRoundPro.svg#DINRoundPro') format('svg');
	font-weight: 400;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+0020-04EF;
}

// DIN Next LT Pro WebFont
@font-face {
	font-family:'DINNextLTPro';
	src: url('../fonts/din_next_lt_pro/DINNextLTPro-Bold.eot');
	src: url('../fonts/din_next_lt_pro/DINNextLTPro-Bold.eot?#iefix') format('embedded-opentype'),
	url('../fonts/din_next_lt_pro/DINNextLTPro-Bold.woff2') format('woff2'),
	url('../fonts/din_next_lt_pro/DINNextLTPro-Bold.woff') format('woff'),
	url('../fonts/din_next_lt_pro/DINNextLTPro-Bold.ttf') format('truetype'),
	url('../fonts/din_next_lt_pro/DINNextLTPro-Bold.svg#DINNextLTPro-Bold') format('svg');
	font-weight: 700;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+0020-00FE;
}
@font-face {
	font-family:'DINNextLTPro';
	src: url('../fonts/din_next_lt_pro/DINNextLTPro-Regular.eot');
	src: url('../fonts/din_next_lt_pro/DINNextLTPro-Regular.eot?#iefix') format('embedded-opentype'),
	url('../fonts/din_next_lt_pro/DINNextLTPro-Regular.woff2') format('woff2'),
	url('../fonts/din_next_lt_pro/DINNextLTPro-Regular.woff') format('woff'),
	url('../fonts/din_next_lt_pro/DINNextLTPro-Regular.ttf') format('truetype'),
	url('../fonts/din_next_lt_pro/DINNextLTPro-Regular.svg#DINNextLTPro-Regular') format('svg');
	font-weight: 400;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+0020-00FE;
}
@font-face {
	font-family:'DINNextLTPro';
	src: url('../fonts/din_next_lt_pro/DINNextLTPro-Medium.eot');
	src: url('../fonts/din_next_lt_pro/DINNextLTPro-Medium.eot?#iefix') format('embedded-opentype'),
	url('../fonts/din_next_lt_pro/DINNextLTPro-Medium.woff2') format('woff2'),
	url('../fonts/din_next_lt_pro/DINNextLTPro-Medium.woff') format('woff'),
	url('../fonts/din_next_lt_pro/DINNextLTPro-Medium.ttf') format('truetype'),
	url('../fonts/din_next_lt_pro/DINNextLTPro-Medium.svg#DINNextLTPro-Medium') format('svg');
	font-weight: 500;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+0020-00FE;
}

// Roboto WebFont
@font-face {
	font-family:'Roboto';
	src: url('../fonts/roboto/Roboto-Regular.eot');
	src: url('../fonts/roboto/Roboto-Regular.eot?#iefix') format('embedded-opentype'),
	url('../fonts/roboto/Roboto-Regular.woff2') format('woff2'),
	url('../fonts/roboto/Roboto-Regular.woff') format('woff'),
	url('../fonts/roboto/Roboto-Regular.ttf') format('truetype'),
	url('../fonts/roboto/Roboto-Regular.svg#Roboto-Regular') format('svg');
	font-weight: 400;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+0020-04EF;
}
@font-face {
	font-family:'Roboto';
	src: url('../fonts/roboto/Roboto-Bold.eot');
	src: url('../fonts/roboto/Roboto-Bold.eot?#iefix') format('embedded-opentype'),
	url('../fonts/roboto/Roboto-Bold.woff2') format('woff2'),
	url('../fonts/roboto/Roboto-Bold.woff') format('woff'),
	url('../fonts/roboto/Roboto-Bold.ttf') format('truetype'),
	url('../fonts/roboto/Roboto-Bold.svg#Roboto-Bold') format('svg');
	font-weight: 600;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+0020-04EF;
}
